<link rel="stylesheet" type="text/css" href="stylesheets/form.css" />

<div class="form-container">
	<form method="POST" action="/new">
		<input type="text" name="username" placeholder="Username" id="username" required>
		<textarea type="text" name="messageText" placeholder="Enter your message." id="messageText" required></textarea>
		<button type="submit">Submit</button>
	</form>
</div>
